
.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
}
.image-content span{
    font-weight: bold;
}



@media screen and (max-width: 992px) {
    .image-content {
        padding: 0px 0px;
    }

   
}